.button {
    border: 1px outset black;
    padding: 0px;
    margin-top: 2px;
    vertical-align: top;
}

.button:active {
    border: 1px inset black;
}

.logged_in_text {
    font-style: italic;
}

.logged_in_name {
    font-weight: bold;
}