.tab_view_title_highlighted {
    background-color: #86d392;
    cursor: pointer;
    padding: 5px;
    border-left: 1px solid #5da668;
    border-bottom: 1px solid #5da668;
    border-top: 1px solid #5da668;
    height: 20px;
    white-space: nowrap;
    font-weight: bold;
    color: red;
}

.tab_view_title_selected_highlighted {
    cursor: pointer;
    padding: 5px;
    border-left: 1px solid #5da668;
    border-top: 1px solid #5da668;
    height: 20px;
    white-space: nowrap;
    font-weight: bold;
    color: red;
}