div.RollerBlindBarActive {
    height: 24px;
    border-top: 1px solid #86d392;
    cursor: pointer;
    background-color: #86d392;
}

div.RollerBlindBarInactive {
    height: 24px;
    border-top: 1px solid #86d392;
    cursor: pointer;
}

div.RollerBlindBarInactive:hover {
    background-color: #86d392;
}

.RollerBlindTitle {
    font-size: 13px;
    color: black;
    padding-left: 5px;
}

.RollerBlindInfo {
    font-size: 10px;
    color: black;
    padding-right: 5px;
}

.RollerBlindActive {
    background-color: white;
}

.RollerBlindInactive {
    display: none;
}

.RollerBlindMain {
    border-bottom: 1px solid #86d392;
}

.RollerBlindFooter {
    border-top: 1px solid #86d392;
    font-size: 13px;
    color: black;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}