a.toggle_selected {
    padding: 2px 3px 2px 3px;
    background-color: #888888;
    border: 2px inset #cccccc;
    cursor: pointer;
}

a.toggle_unselected {
    padding: 2px 3px 2px 3px;
    background-color: #eeeeee;
    border: 2px outset #cccccc;
    cursor: pointer;
}

a.toggle_unselected:hover {
    padding: 2px 3px 2px 3px;
    background-color: #888888;
    cursor: pointer;
}

a.toggle_unselected:active {
    padding: 2px 3px 2px 3px;
    background-color: #888888;
    border: 2px inset #cccccc;
    cursor: pointer;
}