.Conversation {
	width: 400px;
    	border: 2px solid #5da668;
}

.ConversationBadge {
	display: block;
	background-color: #5da668;
	margin: 5px;
	width: 50px;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica, Ariel, Sans-Serif;
	font-size: 11px;
	color: #ffffff;
}

.ConversationBadgeInline {
	dipslay: block;
	background-color: #5da668;
	margin: 5px;
	padding: 5px;
	vertical-align: bottom;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Helvetica, Ariel, Sans-Serif;
	font-size: 12px;
}
	
.CommentCount {
	font-size: 200%;
}

.ConversationHeader {
	display: block;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #d5f3c6;
	margin-left: auto;
	margin-right: auto;
    	border-bottom: 1px solid #808080;
}
.Comment {
	background-color: #d5f3c6;
    	border-bottom: 1px solid #808080;
	padding-top: 10px;
	padding-bottom: 10px;
}
.CommentBlock {
	text-align: left;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.CommentBlock_EditSubmit {
	padding-left: 10px;
	text-align: right;
	margin-left: auto;
	margin-right: 0px;
}

.CommentInfo {
	padding: 5px;
	margin-right: 0px;
	margin-left: auto;
	text-align: right;
}
.CommentName {
	text-align: right;
}
.CommentTime {
	text-align: right;
	margin-right: 0px;
	margin-left: auto;
	font-style: italic;
}

.CommentEdit  {
	text-align: right;
}

