/*********************************************************/
/*   LISTBOX                                             */
/*********************************************************/

.listbox {
    width:200px;
    font-size:90%;
}

div.scroll_hor {
     overflow:auto;
}

input.btn{
   color:#050;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:95%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}

input.btnhov{
   border-top-color:#c63;
   border-left-color:#c63;
   border-right-color:#930;
   border-bottom-color:#930;
}
