.tab_view_content {
    display: none;
}

.tab_view_content_selected {
    
}

.tab_view_title {
    background-color: #86d392;
    cursor: pointer;
    padding: 5px;
    border-left: 1px solid #5da668;
    border-bottom: 1px solid #5da668;
    border-top: 1px solid #5da668;
    height: 20px;
    white-space: nowrap;
}

.tab_view_title_vertical {
    background-color: #86d392;
    cursor: pointer;
    padding: 5px;
    border-left: 1px solid #5da668;
    border-right: 1px solid #5da668;
    border-top: 1px solid #5da668;
    white-space: nowrap;
    height: 1px;
}

.tab_view_title_selected {
    cursor: pointer;
    padding: 5px;
    border-left: 1px solid #5da668;
    border-top: 1px solid #5da668;
    height: 20px;
    white-space: nowrap;
}

.tab_view_title_vertical_selected {
    cursor: pointer;
    padding: 5px;
    border-left: 1px solid #5da668;
    border-top: 1px solid #5da668;
    white-space: nowrap;
    height: 1px;
}

.tab_view_title_sub_selected {
    height: 1px;
    padding: 5px;
    white-space: nowrap;
    border-left: 10px solid #5da668;
    border-top: 1px solid #5da668;
}

.tab_view_title_sub {
    background-color: #A6F3A2;
    cursor: pointer;
    padding: 5px;
    border-left: 10px solid #5da668;
    border-right: 1px solid #5da668;
    border-top: 1px solid #5da668;
    white-space: nowrap;
    height: 1px;
}

.tab_view_title_sub_hidden {
    display: none;
}

.tab_view_title_filler {
    width: 100%;
    border-bottom: 1px solid #5da668;
    border-left: 1px solid #5da668;
    height: 20px;
}

.tab_view_title_vertical_filler {
    border-top: 1px solid #5da668;
    border-right: 1px solid #5da668;
}

.tab_view_content_td {
    padding: 10px 5px 10px 5px;
    border-left: 1px solid #5da668;
    border-bottom: 1px solid #5da668;
    border-right: 1px solid #5da668;    
}

.tab_view_content_vertical_td {
    padding: 10px 5px 10px 5px;
    border-top: 1px solid #5da668;
    border-bottom: 1px solid #5da668;
    border-right: 1px solid #5da668;
}