body {
   font-family: Verdana, Arial, sans-serif;
   font-size: 12px;
   font-weight: normal;
   color: #000;
   background-color: #FFFFFF;
   margin: 0px 0px 20px 0px;
}

img {
    border: none;
    vertical-align: bottom;
}

/********************************************************/
/*  HEADER                                              */
/********************************************************/

#header {
    padding: 5px 10px 5px 10px;
    margin: 0px;
    background: #466d94 url(./bg-header.png);
    background-repeat: repeat-x;
    color: #eee;
}

#header a:link, #header a:visited {
    color: #eee;
    font-weight: normal;
    text-decoration: underline;
}

#header a:hover, #header a:focus {
    color: #333;
    font-weight: normal;
    text-decoration: underline;
}


#logo {
    float: left;
    margin: 0px 20px 0px 10px;
    height: 90px;
}

#title {
    font-size: 17pt;
    font-weight: bold;
}

#version {
    color: #000;
    font-size: 10px;
    width: 120px;
}

/********************************************************/
/*  MENU                                                */
/********************************************************/

div#topbar {
    font-size: 12px;
    height: 22px;
    display: block;
    background-color: #86d392;
    margin-bottom: 10px;
    border-top: 2px solid #5da668;
    border-bottom: 2px solid #5da668;
}

#topbar img.imglink {
    height: 18px;
    border: none;
    vertical-align: top;
}

#menu a.imglink {
    padding-left: 10px;
    float: left;
    display: inline;
}

#menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#menu li {
    position: relative;
    float: left;
    font-size: 12px;
    cursor: default;
    background-color: #86d392;
    border-right: 1px solid #5da668;
    padding: 2px 10px 6px 10px;
}

#menu li:hover {
    background-color: #5da668;
}

#menu #nav a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#menu #nav li li span {
    display: block;
    font-weight: normal;
    color: #000;
    padding: 3px 5px 3px 5px;
}


#menu #nav li li a {
    display: block;
    font-weight: normal;
    color: #000;
    padding: 3px 5px 3px 5px;
}

#menu #nav li li a:hover {
    padding: 3px 5px 3px 5px;
    color: #fff; 
    background: #5da668;
}


#menu li ul {
    display: none;
    z-index: 5;
    position: absolute;
    top: 100%;
    left: 0;
    font-weight: normal;
    border-left: 1px solid #5da668;
    border-right: 1px solid #5da668;
    border-bottom: 1px solid #5da668;
    border-top: 2px solid #5da668;
    margin-top: 5px;
    padding: 0px 0px 0px 0px;
}

#menu li li {
    display: block;
    float: none;
    padding: 0px;
    background-color: #d5f3c6;
    border: 0px;
    width: 160px;
}

#menu li>ul {
    top: 17px;
    left: 0px;
}

#menu li:hover ul, li.over ul {
    display: block;
}

div#location {
    float: right;
    font-size: 10px;
    color: #000;
    padding: 6px 10px 6px 10px;
}

#location img {
    margin-top: -3px;
}

#location a:link, #location a:visited {
    color: #000;
    font-weight: normal;
    text-decoration: none;
}

#location a:hover, #location a:focus {
    color: #000;
    font-weight: normal;
    text-decoration: underline;
}

/*
 horizontal Menu
*/

td.menu_filler {
    width: 100%;
    border-bottom: 2px solid #5da668;
}

table.menu_table {
    width: 100%;
    border-spacing: 0px;
}

td.menu_item {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    cursor: default;
    background-color: #86d392;
    color: black;
    white-space: nowrap;
    border-right: 2px solid #5da668;
    border-bottom: 2px solid #5da668;
}

td.menu_item a {
    color: black;
    text-decoration: none;
}

td.menu_item:hover {
    background-color: #5da668;
}

table.menu_cat_bar_inactive {
    display: none;
}

table.menu_cat_bar_active {
    border-spacing: 0px;
}

td.menu_cat_active {
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 4px;
    padding-top: 2px;
    border-right: 2px solid #5da668;
    background-color: #5da668;
}

td.menu_cat_inactive {
    background-color: #86d392;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 4px;
    border-right: 2px solid #5da668;
    border-bottom: 2px solid #5da668;
}

div.menu_cat_inactive:hover {
    background-color: #5da668;
}

/********************************************************/
/*  USER INFO                                           */
/********************************************************/

div#user {
    white-space: nowrap;
    font-weight: bold;
    margin-top: 2px;
    margin-right: 4px;
    margin-left: 4px;
}

#user img {
    vertical-align: top;
    margin-right: 2px;
}

div#login {
    white-space: nowrap;
    margin-right: 4px;
    margin-left: 4px;
}

#login input {
    width: 75px;
    border: 1px solid #5da668;
    font-size: 11px;
}

div#search {
    white-space: nowrap;
    margin-right: 4px;
    font-weight: bold;
}

#search input {
    border: 1px solid #5da668;
    width: 100px;
    margin-left: 4px;
    margin-top: 2px;
    font-size: 11px;   
}


/********************************************************/
/*  MESSAGES                                            */
/********************************************************/

div#info {
    margin: 20px 10px 20px 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    background: #cceecc;
    border: 2px solid #bbccbb;
}

div#warning {
    margin: 20px 10px 20px 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    color: #fff;
    background: #ff5555;
    border: 2px solid #ee2222;
}


/********************************************************/
/*  CONTENT                                             */
/********************************************************/

div#content {
    padding-left: 10px;
    padding-right: 10px;
}

a > img {
    border: none;
}

/********************************************************/
/*  TABLE                                               */
/********************************************************/

table {
    font-size: 12px;
    text-align: left;
}

th {
    font-size: 12px;
    background: #ddd;
    vertical-align: top;
    padding: 3px 5px 3px 5px;
}

td {
    font-size: 12px;
    vertical-align: top; 
}

th.result {
    border: 1px solid black;
    background-color: #688fc5;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
}

td.even {
    border: 1px solid black;
    background-color: #ebebeb;
    padding: 2px;
}

td.odd {
     border: 1px solid black;
     padding-left: 2px;
}

.visible {
   display: block;
   background-color: #fff;
   color: #000;
   border: 1px solid black;
}

.invisible {
   display: none;
}
