div.tool {
    min-height: 264px;
    width: 200px;
    border: 1px solid #E6E5D3;
}

td.tool {
    
}

div.select {
    width: 100%;
    min-height: 250px;
    border: 1px solid #E6E5D3;
}

td.select {
    min-width: 745px;
}

td.buff {
    width: 100%;
}

div.display {
    width: 100%;
    border: 1px solid #E6E5D3;
    margin-bottom: 50px;
}

td.display {
    width: 100%;
}

table.analysis {
    width: 100%;
}

td.active_disp {
    padding-left: 6px;
    padding-right: 6px;
    border-right: 1px solid #E6E5D3;
    color: #8FBC3F;
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
    padding-top: 2px;
    vertical-align: middle;
    height: 20px;
}

td.inactive_disp {
    padding-left: 6px;
    padding-right: 6px;
    border-right: 1px solid #E6E5D3;
    border-bottom: 1px solid #E6E5D3;
    background-color: #8FBC3F;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
    padding-top: 2px;
    vertical-align: middle;
    height: 20px;
}

td.spacer_disp {
    border-bottom: 1px solid #E6E5D3;
    background-color: #E6E5D3;
    width: 100%;
}

div.active_disp {
    padding: 4px 4px 4px 4px;
    min-height: 280px;
}

div.inactive_disp {
    display: none;
}

table.tabs {
    border-collapse: collapse;   
}

div.category_tool {
    border-bottom: 1px solid #E6E5D3;
    padding: 5px;
    font-weight: bold;
    font-variant: small-caps;
}

div.active_tool {
    border-bottom: 1px solid #E6E5D3;
    padding: 5px;
    font-weight: bold;
    background: #DDD;
}

div.inactive_tool {
    border-bottom: 1px solid #E6E5D3;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

div.tool_header {
    background-color: #8FBC3F;
    color: white;
    font-weight: bold;
    height: 20px;
    padding-top: 2px;
    vertical-align: middle;
}

div.select_header {
    background-color: #8FBC3F;
    color: white;
    font-weight: bold;
    height: 20px;
    padding-top: 2px;
    vertical-align: middle;
    width: 150px;
}
