#mgs_current_set {
	table-layout: fixed;
    background:none repeat scroll 0 0 #FFFFFF;
    border-collapse:collapse;
    font-size:12px;
    text-align:left;
    width: 700px;
}

#mgs_current_set thead {
    display:block;
	text-align: left;
}

#mgs_current_set tbody {
    display:block;
    max-height:475px;
    overflow:auto;
}

#mgs_current_set th {
    background-color:white;
    border-bottom:2px solid #E6E5D3;
    border-top:2px solid #E6E5D3;
    color:#333333;
    font-size:12px;
    font-weight:bold;
    padding:6px 8px 10px;
}

#mgs_current_set td {
	word-wrap: break-word;
    border-bottom:1px solid #E6E5D3;
    color:#5281B0;
    padding:6px 8px;
}

#mgs_current_set tbody td:hover {
    color:#EA9D2F;
    cursor:pointer;
}

#mgs_current_set.nohover tbody tr:hover td {
    color:#5281B0;
    cursor: auto;
}

div.coll_show {
    border: 1px solid #5281B0;
    width: 435px;
    height: 150px;
}

div.coll_hide {
}

/*****************************************/
/* Side bar                              */
/*****************************************/

div.sidebar_headline {
    width: 182px;
    background-color: #8FBC3F;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    height: 16px;
    padding-top: 5px;   
}

div.sidebar_box {
    width: 160px;
    border: 1px solid #E6E5D3;
    padding: 6px 10px 10px 10px;
}

div.sidebar_text {
    font-size: 10px;
}

span.sidebar_stat {
    font-weight: bold;
    float: right; 
    font-size: 10px;
}

div.sidebar_subitem {
    margin: 0 0 3 0;
}

div.sidebar_hidden {
    display: none; 
}

a.sidebar_link {
    margin-top: 6px;
    font-weight: bold;
    float: right; 
    font-size: 10px;
    cursor: pointer;
}

/*****************************************/
/* Filter                                */
/*****************************************/

div.filter_headline_search {
    width: 222px;
    background-color: #CC0000;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    height: 20px;
    padding-top: 2px;   
}

div.filter_headline_search a {
    color: white;
    cursor: pointer;
    margin-right: 5px;
    float: right;
    font-size: 9px;   
}

div.filter_headline {
    width: 222px;
    background-color: #8FBC3F;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    height: 20px;
    padding-top: 2px;   
}

div.filter_subheadline {
    width: 222px;
    background-color: #E6E5D3;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    height: 20px;
    padding-top: 2px;   
}

div.filter_subheadline a {
    cursor: pointer;
    margin-right: 5px;
    float: right;
    font-size: 9px;   
}

li.special a {
    border: 1px solid #5281B0;
    background-color: white;
    color: #5281B0;
    font-weight: bold;
}

h3 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.table_counts {
	margin: 5px 12px 5px 1px;
	font: bold 11px sans-serif;
	float:left;
}

div.table_counts div{
	margin-top: 1px;
}