The user <TMPL_VAR NAME="USERNAME"> has requested the group <TMPL_VAR NAME="GROUP"> to be created. You receive this email because you are registered as an administrator.

Go to <TMPL_VAR NAME="APPLICATION_URL">?page=AccountManagement to process the request.
