<!DOCTYPE HTML>
<html>
  
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><TMPL_VAR NAME="TITLE"></title>

    <TMPL_LOOP NAME=CSS>
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME="CSSFILE">" >
    </TMPL_LOOP>   

    <TMPL_LOOP NAME="JAVASCRIPT">
    <script type="text/javascript" src="<TMPL_VAR NAME="JSFILE">" ></script>
    </TMPL_LOOP>
    <meta name="HTML_PATH" content="./Html" />
    <TMPL_LOOP NAME="META">
    <TMPL_VAR NAME="METATAG">
    </TMPL_LOOP>
    <TMPL_IF NAME="SHOW_ICON"><link rel="icon" type="image/png" href="<TMPL_VAR NAME="ICON_PATH">"></TMPL_IF>

  </head>

  <TMPL_VAR NAME="BODY">

</html>

