/*********************************************************/
/*   LISTBOX                                             */
/*********************************************************/

.listbox {
    width:200px;
    font-size:90%;
}

div.scroll_hor {
     overflow:auto;
}

table.DLS {
    border: none;
    margin: 0 auto;
    background-color: #eee;
    padding: 10px 20px;
}

table.DLS select {
    width:250px;
    font-size:90%;
};