div.data_finder_main {
    border-top: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: left;
}

div.data_finder_tag_space {
    border-bottom: 1px solid #E6E5D3;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    padding-right: 24px;
    width: 200px;
}

div.datafinder_tag_title {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 5px;
}

div.data_finder_values_space {
    padding-left: 10px;
}

div.data_finder_value_div {
    font-size: 11px;
}

div.data_finder_main a {
    cursor: pointer;
}