table.info {
    border: 2px outset rgb(70,130,180);
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
}

td.info {
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

div.info_show {
    text-align: justify;
    padding: 12px 20px 15px 0px;
}

div.info_hide {
    width: 0px;
    height: 0px;
    display: none;
}

div.info_button_show {
    font-family: times;
    font-weight: bold;
    padding-left: 3px;
    font-size: 11pt;
    color: blue;
    cursor: pointer;
}

div.info_button_hide {
    font-family: times;
    font-weight: bold;
    padding-left: 3px;
    margin: 0px;
    font-size: 11pt;
    color: #fff;
    cursor: pointer;
}