/********************************************************/
/*  Table                                               */
/********************************************************/
table.table_table {
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 12px;
}

.highlight td.table_even_row, .highlight td.table_odd_row, .highlight td  {
    background-color: #86d392;
}

td.highlight {
    background-color: #86d392;
    border: 1px solid black;
}

.dehighlight td {
    
}

a.table_first_row {
    color: #fff;
    text-decoration: none;
}

/* 
 * .table_first_row img {
 *     visibility: hidden;
 * }
 */

td.table_first_row {
    border: 1px solid black;
    background-color: #688fc5;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
}

td.table_row {
    border: 1px solid black;
    padding-left: 2px;
}

table.table_browse {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.table_perpage {
    width: 100%;
    font-size: 8pt;
    text-align: center;
}

.cell {
    border: none;
    background-color: transparent;
    color: black;
    cursor: default;
    width: 100%;
}

.disp {
    border: none;
    background-color: transparent;
    color: black;
    cursor: default;
    width: 50px;
    text-align: center;
}

tr.even_row {
    background-color: #ebebeb;
}

tr.odd_row {
}

tr.even_row:hover {
    background-color: #c0c0c0;
}

tr.odd_row:hover {
    background-color: #c0c0c0;
}

/********************************************************/
/*  TOOLTIP                                             */
/********************************************************/

table.tooltip {
    border: 2px solid #466d94;
    border-spacing: 0px;
}

th.tooltip {
    text-align: center;
    padding: 2px;
    color: #fff;
    background: #688fc5;
    font-weight: bold;
    border-bottom: 1px solid #466d94;
    font-size: 12px;
}

td.tooltip {
    padding: 2px;
    color: #000;
    background: #ebebeb;
    font-size: 11px;
}
