<body onload="initialize_all();">
  <div id="header"><a href="?page=Home" style="border: none;">
    <img style="float: left; 
		height: 80px; 
		margin-left: 40px;
		margin-top: 10px;" 
	 src="./Html/MGRAST_logo.png" alt="MG-RAST Metagenomics Analysis Server" />
</a>
    <div id="nav_login_box">
      <div id="top_nav">    
	<div id="top_nav_links"><a class= "nav_top" href="metagenomics.cgi?page=Home"><img src='./Html/mg-home.png' style='width: 20px; height: 20px;' title='Home'></a></div>
	<div id="top_nav_links"><a class= "nav_top" href="metagenomics.cgi?page=MetagenomeSelect"><img src='./Html/mgrast_globe.png' style='width: 20px; height: 20px;' title='Browse'></a></div>
	<div id="top_nav_links"><a class= "nav_top" href="metagenomics.cgi?page=Analysis"><img src='./Html/analysis.gif' style='width: 20px; height: 20px;' title='Analyze'></a></div>
	<div id="top_nav_links"><a class= "nav_top" href="metagenomics.cgi?page=MetagenomeSearch"><img src='./Html/lupe.png' style='width: 20px; height: 20px;' title='Search'></a></div>
	<br>
	<div id="top_nav_links"><a class= "nav_top" href="metagenomics.cgi?page=DownloadMetagenome"><img src='./Html/mg-download.png' style='width: 20px; height: 20px;' title=Download></a></div>
    	<div id="top_nav_links"><a class= "nav_top" href="metagenomics.cgi?page=CreateJob"><img src='./Html/mg-upload.png' style='width: 20px; height: 20px;' title='Upload'></a></div>
	<div id="top_nav_links"><a class= "nav_top" href="http://blog.metagenomics.anl.gov/howto/" target=_blank><img src='./Html/mg-help.png' style='width: 20px; height: 20px;' title='Support'></a></div>
	<div id="top_nav_links"><a class= "nav_top" href="metagenomics.cgi?page=Contact"><img src='./Html/mg-contact.png' style='width: 20px; height: 20px;' title='Contact'></a></div>
      </div>
      <div id="login">
	<TMPL_IF NAME="USER">
	  <TMPL_VAR NAME="USER">
	</TMPL_IF>
      </div>
    </div>
  </div>

  <!--
   <div id="topbar">
    <table style="width: 100%; border-spacing: 0px;">
      <tr>
	<td style='width: 100%; padding: 0px;'>
	  <TMPL_IF NAME="MENU">
	    <TMPL_VAR NAME="MENU">
	   <TMPL_ELSE>
	     <div style='height: 23px;'></div>
	  </TMPL_IF>
	</td>
      </tr>
    </table>
  </div>
  -->

  <div id="content_frame">
    
    <TMPL_IF NAME="WARNINGS">
      <div id="warning">
	<TMPL_LOOP NAME="WARNINGS">
	  <p class="warning"> <strong> Warning: </strong> <TMPL_VAR NAME="MSG"> </p>
	</TMPL_LOOP>
      </div>
    </TMPL_IF>
    
    <TMPL_IF NAME="INFO">
      <div id="info">
	<TMPL_LOOP NAME="INFO">
	  <p class="info"> <strong> Info: </strong> <TMPL_VAR NAME="MSG"> </p>
	</TMPL_LOOP>
      </div>
    </TMPL_IF>
    
    <div id="page_title">
    <TMPL_VAR NAME="PAGETITLE">
    </div>
    <div id="content">
    <TMPL_VAR NAME="CONTENT">
    </div>
    
  </div>

 
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8339940-1");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>

</body>
