The user <TMPL_VAR NAME="USERNAME"> has requested membership of <TMPL_VAR NAME="GROUP">. You receive this email because you are registered as an administrator for this group.

Go to <TMPL_VAR NAME="APPLICATION_URL">?page=AccountManagement to process the request.
