
CREATE KEYSPACE IF NOT EXISTS m5nr_v[% version %]
    WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : [% replication %] };

use m5nr_v[% version %];

CREATE TABLE IF NOT EXISTS index_annotation (
    id int,
    source text,
    md5 text,
    is_protein boolean,
    single int,
    accession list<int>,
    function list<int>,
    organism list<int>,
    PRIMARY KEY (id, source)
);

CREATE TABLE IF NOT EXISTS id_annotation (
    id int,
    source text,
    md5 text,
    is_protein boolean,
    single text,
    lca list<text>,
    accession list<text>,
    function list<text>,
    organism list<text>,
    PRIMARY KEY (id, source)
);

CREATE TABLE IF NOT EXISTS midx_annotation (
    md5 text,
    source text,
    is_protein boolean,
    single int,
    accession list<int>,
    function list<int>,
    organism list<int>,
    PRIMARY KEY (md5, source)
);

CREATE TABLE IF NOT EXISTS md5_annotation (
    md5 text,
    source text,
    is_protein boolean,
    single text,
    lca list<text>,
    accession list<text>,
    function list<text>,
    organism list<text>,
    PRIMARY KEY (md5, source)
);

CREATE TABLE IF NOT EXISTS ontologies (
    source text,
    name text,
    level1 text,
    level2 text,
    level3 text,
    level4 text,
    PRIMARY KEY (source, name)
);

CREATE TABLE IF NOT EXISTS ont_level1 (
    source text,
    level1 text,
    name text,
    PRIMARY KEY (source, level1, name)
);

CREATE TABLE IF NOT EXISTS ont_level2 (
    source text,
    level2 text,
    name text,
    PRIMARY KEY (source, level2, name)
);

CREATE TABLE IF NOT EXISTS ont_level3 (
    source text,
    level3 text,
    name text,
    PRIMARY KEY (source, level3, name)
);

CREATE TABLE IF NOT EXISTS ont_level4 (
    source text,
    level4 text,
    name text,
    PRIMARY KEY (source, level4, name)
);

CREATE TABLE IF NOT EXISTS organisms_ncbi (
    name text,
    tax_domain text,
    tax_phylum text,
    tax_class text,
    tax_order text,
    tax_family text,
    tax_genus text,
    tax_species text,
    ncbi_tax_id int,
    PRIMARY KEY (name)
);

CREATE TABLE IF NOT EXISTS tax_domain (
    tax_domain text,
    name text,
    PRIMARY KEY (tax_domain, name)
);

CREATE TABLE IF NOT EXISTS tax_phylum (
    tax_phylum text,
    name text,
    PRIMARY KEY (tax_phylum, name)
);

CREATE TABLE IF NOT EXISTS tax_class (
    tax_class text,
    name text,
    PRIMARY KEY (tax_class, name)
);

CREATE TABLE IF NOT EXISTS tax_order (
    tax_order text,
    name text,
    PRIMARY KEY (tax_order, name)
);

CREATE TABLE IF NOT EXISTS tax_family (
    tax_family text,
    name text,
    PRIMARY KEY (tax_family, name)
);

CREATE TABLE IF NOT EXISTS tax_genus (
    tax_genus text,
    name text,
    PRIMARY KEY (tax_genus, name)
);

CREATE TABLE IF NOT EXISTS tax_species (
    tax_species text,
    name text,
    PRIMARY KEY (tax_species, name)
);
